<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta charset="utf-8">
  <title>Tejgaon College</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><i class='fas fa-atom' style='font-size: 19px; color:firebrick' aria-hidden="true">
        </i>TEJGAON COLLEGE<i class='fas fa-microscope' style="color: firebrick;"></i></p>
      </div>
        <ul class="nav navbar-nav">
          <li id="compose">
            <a href="/compose">REGISTER</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
